@charset "utf-8";

@layer system {
/* // Body
---------------------------------------------------------------------------------------------------- */
body {
  background-image: url(../../_common/img/back-pattern.png), url(../img/back-first.png);
  @media screen and (max-width:735px){
    background-size: auto, 80%;
  }
}
article, .color-set {
  --monster-level-bg-color: hsl(
    var(--box-head-bg-color-h, 0),
    calc( var(--box-head-bg-color-s,   0%) * 0.5 ), 50%
  );
  --monster-head-bg-color: hsla(
    var(--box-head-bg-color-h, 225),
    calc( var(--box-head-bg-color-s,  9%) * 0.9 ),
    var(--box-head-bg-color-l, 65%),
    var(--box-head-bg-color-a, 0.4)
  );
  --s-icon-color: hsl(
    var(--box-head-bg-color-h, 0),
    calc( var(--box-head-bg-color-s,   0%) * 0.9 ), 40%
  );
  @media screen {
    .night & {
      --s-icon-color: hsl(
        var(--box-head-bg-color-h, 0),
        calc( var(--box-head-bg-color-s,   0%) * 0.9 ), 70%
      );
    }
  }
}


/* // Base
---------------------------------------------------------------------------------------------------- */
article {
  max-width: 800px;
}

/* // Font
---------------------------------------------------------------------------------------------------- */
#area-name h1 {
  font-family: var(--base-font-family-min);
}


/* // Name
---------------------------------------------------------------------------------------------------- */
.golem .level-and-name {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: 7rem 1fr;

  .conjurer-lv {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25rem solid var(--monster-level-bg-color);
    margin-right: 0.5rem;
    font-size: 160%;
    background-color: white;
    background-image: url("../img/conjuration.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding-top: 0.4em;
  }

  #area-name {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .golem-material {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    text-align: right;
    font-weight: bold;

    .price {
      .normal:not(:empty) + .higher:not(:empty)::before {
        content: "／";
      }
    }
  }
}
.night .golem .level-and-name {
  .conjurer-lv {
    background-color: var(--monster-level-bg-color);
  }
}
#area-name {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  
  margin-top: 1.5em;
  padding: 0px;
  border-width: 3px 0 0;
  border-style: solid;
  border-color: var(--monster-level-bg-color);
  background-image: linear-gradient(to bottom, var(--bg-color), transparent);
  @media print {
    background-image: none;
  }
}
#area-name .lv {
  order: -1;
  flex-shrink: 0;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  background-color: var(--monster-level-bg-color);
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.4));
  color: #fff;
  text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}
#area-name .name-taxa {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: inherit;
}
#area-name h1 {
  flex-grow: 1;
  padding: .25em 1rem;
  text-align: left;
  font-size: 200%;
  font-weight: bold;
  line-height: 1;
  & small {
    display: inline-block;
    font-size: 70%;
    line-height: 1;
  }
}
#area-name .taxa {
  position: absolute;
  top: -1.7em;
  left: 0;
  padding: .4em .5em .3em;
  border-radius: 5px 5px 0 0;
  line-height: 1;
  background: var(--monster-level-bg-color);
  color: #fff;
  text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
  font-weight: bold;
}

/* // Status
---------------------------------------------------------------------------------------------------- */
div.status {
  margin: .5rem 0;
  padding: .5rem 1rem;
  background: var(--box-base-bg-color);

  #tags + & {
    border-top: 1px dotted var(--box-outside-border-color);
  }
}
div.status div {
  display: flex;
  flex-wrap: wrap;
}
#monster.golem div.status > div:nth-child(-n+2) {
  display: none;
}

div.status dl {
  display: flex;
  margin-right: 1.5em;

  & dt {
    white-space: nowrap;
    &::after {
      content: ':';
      display: inline-block;
      width: 1em;
      text-align: center;
      font-weight: normal;
    }
  }
  & dl.price {
    align-items: end;
    margin-right: 0;
  }
  & dl.price dt {
    font-size: 85%;
    margin-right: .2em;
  }
  & dl.price dd + dt::before {
    content: '／';
    margin: 0 .5em;
  }
  & dl.price dt::after {
    display: none;
  }
  & dl.price dd small {
    margin-left: .2em;
  }
}

.hp-options {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, max-content);

  & li {
    display: inline-flex;
    height: 100%;
    margin-right: 0.75em;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  & li:not(.active) {
    display: none;
  }

  & li::before {
    content: "\e5ca";
    font-family: "Material Symbols Outlined", sans-serif;
    font-variation-settings: 'FILL' 1;
  }
}
.hp-options:not(:has(.active)) {
  display: none;
}
body:not(.individualization) .hp-options {
  display: none;
}

table.status {
  width: 100%;
  border-width: 1px;
  border-style: double;
  border-color: var(--box-outside-border-color);
  background-color: var(--box-base-bg-color);
  & thead th {
    &.lv     { width: 0em; }
    &.name   { width: auto; }
    &.acc    { width: 12%; }
    &.atk    { width: 12%; }
    &.eva    { width: 12%; }
    &.def    { width: 12%; }
    &.hp     { width: 12%; }
    &.mp     { width: 12%; }
  }
  .mount & thead th {
    &.lv     { width: 1.8em; }
    &.name   { width: auto; }
    &.acc    { width: 8.5%; }
    &.atk    { width: 8.5%; }
    &.eva    { width: 8.5%; }
    &.def    { width: 8.5%; }
    &.hp     { width: 8.5%; }
    &.mp     { width: 8.5%; }
    &.vit    { width: 8.5%; }
    &.mnd    { width: 8.5%; }
  }
  &:not(#status-table):has(tbody tr:first-child:last-child) thead th.name > .text-part {
    display: none;
  }
  & tbody {
    border-top-width: 1px;
    border-top-style: solid;
  }
  & th {
    background-color: var(--monster-head-bg-color);
  }
  & td {
    padding: .2rem;
    border-width: 0 1px;
    border-style: solid;
    border-color: var(--box-inside-border-color);
    text-align: center;
  }
  & tbody tr:nth-child(even) td {
    background-color: var(--box-even-rows-bg-color);
  }
  .mount & tbody {
    & td.lv {
      background-color: transparent;
      border-width: 0;
    }
    & tr:first-child td.lv {
      border-top-width: 1px;
      font-weight: bold;
    }
    & tr:not(:first-child) td.lv {
      font-size: 0px;
      color: transparent;
    }
    &:nth-of-type(even) tr td.lv {
      background-color: var(--box-even-rows-bg-color);
    }
  }
}

/* // Parts
---------------------------------------------------------------------------------------------------- */
.parts {
  display: flex;
  flex-wrap: wrap;
  margin: .5rem 0;
  padding: .3em 1rem;
  background: var(--box-base-bg-color);
  & dl {
    display: flex;
    margin-right: 1.5em;
    align-items: start;
    & dt {
      text-wrap: nowrap;
    }
    & dt::after {
      content: ':';
      display: inline-block;
      width: 1em;
      text-align: center;
      font-weight: normal;
    }
    & dd.parts-num-and-names {
      display: grid;
      grid-template-columns: max-content auto;
      > span.name {
        padding-left: 1em;
        text-indent: -1em;
        > span {
          text-wrap: nowrap;
        }
      }
    }
  }
}


/* // 騎獣用武装
---------------------------------------------------------------------------------------------------- */
section.mount-equipments {
  margin-top: 1em;

  &:not(:has(dt)) {
    display: none;
  }

  & .parts {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: max-content 1fr;

    & dt.part {
      grid-column: 1 / 2;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      background-color: var(--monster-head-bg-color);
      padding: 0.25em 1em;
      margin-right: 0.45em;
    }

    & dd.part {
      grid-column: 2 / 3;
      font-size: 85%;
      display: flex;
      justify-content: center;
      align-items: center;

      & .equipments {
        margin: 0;
        width: 100%;
      }
    }

    & :is(dt, dd).part:not(:first-of-type) {
      margin-top: 0.65em;
    }
  }

  & .equipments {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: max-content 1fr;

    & dt.weapon,
    & dt.armor {
      grid-column: 1 / 2;
    }

    & dt:is(.weapon, .armor)::after {
      display: none;
    }

    & dd.weapon,
    & dd.armor {
      grid-column: 2 / 3;

      & span:not(:first-of-type)::before {
        content: "、";
      }
    }

    & .name::before {
      content: "〈";
    }

    & .name::after {
      content: "〉";
    }
  }
}

/* // Skills
---------------------------------------------------------------------------------------------------- */
.skills {
  border: 0;
  margin: 1.8rem 0 0;
  padding-bottom: .5em;
  background: var(--box-base-bg-color);
  border-radius: 0;
  box-shadow: none !important;
  .parts + & {
    margin-top: .5rem;
  }

  & :is(h2, h2:nth-child(n+2)) {
    padding: .3rem .5rem;
    border-width: 0;
    background-color: var(--monster-head-bg-color);
    background-image: none;
    font-size: 110%;
  }
  & h2:nth-child(n+2) {
    margin: 1em 0 0;
  }
  & h3::first-letter {
    color: var(--s-icon-color);
  }
  > section.level5:first-of-type > h5:first-child {
    margin-top: 1.0rem;
  }
  & .s-icon::before {
    color: var(--s-icon-color);
  }
}
.individualization article > .skills {
  & .riding-checks {
    margin-top: 0.5rem;
    margin-left: 0.3em;

    & li {
      display: inline-flex;
      flex-flow: row;
      align-items: center;
      margin-right: 0.75em;
    }

    & li:not(.active) {
      display: none;
    }

    & li::before {
      content: "\e5ca";
      font-family: "Material Symbols Outlined", sans-serif;
      font-variation-settings: 'FILL' 1;
    }
  }

  & .riding-checks:not(:has(.active)) {
    display: none;
  }
}
body:is(:not(.individualization), :not(.mount)) article > .skills .riding-checks {
  display: none;
}
.skills section {
  position: relative;
}
.mount.individualization .skills {
  & section.non-available {
    opacity: 0.5;
  }

  & section:first-of-type > h3 {
    margin-top: 0.5rem;
  }

  & section h5 .condition {
    display: inline-flex;
    flex-flow: row;
    align-items: center;

    & i.icon::before {
      font-family: "Material Symbols Outlined", sans-serif;
      font-variation-settings: 'FILL' 1;
      font-style: normal;
    }

    & i.available::before {
      content: "\e5ca";
    }

    & i:is(.non-available, .limited-available)::before {
      content: "\e5cd";
    }
  }
}
:is(.skills, .golem-reinforcement-items) button.to-copy {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: none;
  opacity: 0.75;
  cursor: copy;
}
:is(.skills, .golem-reinforcement-items) section:hover > button.to-copy {
  display: initial;
}
:is(.skills, .golem-reinforcement-items) section.level5:hover {
  background-color: rgba(85, 107, 47, 0.05);
}
:is(.skills, .golem-reinforcement-items) button.to-copy::before {
  content: "\e14d";
  font-family: "Material Symbols Outlined", sans-serif;
  font-variation-settings: 'FILL' 1;
  font-weight: 100;
  font-size: 2rem;
  color: mediumseagreen;
}

/* // ゴーレム強化アイテム
---------------------------------------------------------------------------------------------------- */
.golem .golem-reinforcement-items {
  border: 0.2rem solid var(--text-color);
  padding: 0.75rem;
  margin-top: 0.5rem;

  & h2 {
    padding: 0.3rem 0.5rem;
    border-width: 0;
    background-color: var(--monster-head-bg-color);
    background-image: none;
    font-size: 110%;
  }

  & section:is(.part-group, .part):first-of-type {
    margin-top: 0.75em;
  }

  & section:is(.part-group, .part):not(:first-of-type) {
    margin-top: 1.75em;
  }

  & h3,
  & h4,
  & h5 {
    font-size: 100%;
  }

  & h3 {
    background-image: linear-gradient(to right, var(--box-head-bg-color-dark), transparent);
    background-size: 100% 0.2em;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  & h4.has-prerequisite-item::before {
    content: "└";
  }

  .part-group:first-of-type:last-of-type {
    & h3 {
      display: none;
    }
  }

  .part-group .skill,
  .part h4 {
    margin-top: 0.5em;
  }

  .part h4.has-prerequisite-item {
    margin-top: 0;
  }

  .skill {
    position: relative;
  }

  .skill:has(h4.has-prerequisite-item) {
    margin-top: 0;
  }

  & p {
    text-indent: 1em;
  }

  & p.notice-for-nothing {
    margin-top: 0.5em;
  }
}

/* // Loots
---------------------------------------------------------------------------------------------------- */
.loots {
  margin-top: 1em;
  position: relative;
  & h2 {
    font-size: 110%;
  }
  & dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;
    border-width: 1px;
    border-style: solid;
    background-color: var(--box-base-bg-color);
    > dt {
      grid-column: 1;
      padding: .2rem;
      background-color: var(--monster-head-bg-color);
      border-width: 0px 1px 1px 0px;
      border-style: solid;
      text-align: center;
      min-width: 6em;
    }
    > dd {
      grid-column: 2;
      padding: .2rem .5rem;
      border-width: 0px 0px 1px;
      border-style: solid;
    }
    > dt:last-of-type,
    > dd:last-of-type {
      border-bottom-width: 0px;
    }
  }

  & button.to-copy {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    opacity: 0.75;
    cursor: copy;
  }

  & button.to-copy::before {
    content: "\e14d";
    font-family: "Material Symbols Outlined", sans-serif;
    font-variation-settings: 'FILL' 1;
    font-weight: 100;
    font-size: 2rem;
    color: mediumseagreen;
  }
}
.loots:has(button.to-copy):hover {
  background-color: rgba(85, 107, 47, 0.05);

  & button.to-copy {
    display: initial;
  }

  & dl, & dt, & dd {
    border-color: rgba(85, 107, 47, 1);
  }
}

/* // Description
---------------------------------------------------------------------------------------------------- */
.description {
  margin-top: 1.5em;
  padding-bottom: .5em;
  border: 0;
  background: var(--box-base-bg-color);
  border-radius: 0;
  box-shadow: none !important;
}
.description :is(h2, h2:nth-child(n+2)) {
  margin: 0;
  padding: 0 .3em;
  border-width: 1px 0px;
  border-style: solid;
  border-color: var(--box-outside-border-color);
  background-image: none;
  font-size: 115%;
}
.box.description h2 ~ h2 {
  margin-top: 1em;
}

/* // Author
---------------------------------------------------------------------------------------------------- */
#author,
#individualization-author {
  width: max-content;
  min-width: 50%;
  margin: 2em 0 0 auto;
  padding: .5em;
  text-align: right;
  border-width: 0 1px 1px 0px;
  border-style: solid;
}


/* ////////// LayerEnd ////////// */
}